@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::selection,
::-moz-selection {
  background: #c8a962;
}

html,
body {
  background-color: #fff;
  height: 100%;
  padding: 0;
  width: 100%;
}

#__next {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .projects {
    &:hover {
      .arrow {
        &::before {
          width: 25px;
        }
      }
    }
  }
}
.arrow {
  padding: 0 0 0 1rem;
  &:before {
    width: 20px;
    height: 2px;
    background: #c8a962;
    content: '';
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid #c8a962;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
}
